BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 150
DerivePointerAlignment: false
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: Empty
SpaceBeforeParens: ControlStatements
SortIncludes: true
IncludeBlocks: Preserve
